/* i container sono divisi per riga */
.container:nth-child(1) > [class*="col-"],
.container:nth-child(2) > [class*="col-"],
.container:nth-child(3) > [class*="col-"],
.container:nth-child(4) > [class*="col-"],
.container:nth-child(5) > .col-6 > [class*="col-"]{
  height: 200px;
}

.container:nth-child(1) > [class*="col-"],
.container:nth-child(2) > [class*="col-"],
.container:nth-child(3) > [class*="col-"],
.container:nth-child(4) > [class*="col-"],
.container:nth-child(5) > .col-6 {
  background-color: pink;
  border: 1px solid black;
}
/* /i container sono divisi per riga */

.container [class*="col-"] > p {
  line-height: 200px;
  vertical-align: middle;
  text-align: center;
}

.container:nth-child(5) > .col-6 > [class*="col-"] {
  background-color: LightCoral;
  border: 1px solid white;
}

.container:nth-child(5) > .col-6 {
  padding: 10px;
}
